.logo-big
  a.logo-link(href="/")
    h1 Buzzr
    .logo-svg(itemprop="primaryImageOfPage")
      include ../../public/img/logo-big.svg
    h2.margin-top.phone-hide
      | Let's keep you up-to-date.
