footer.pages-footer
  ul.list-horizontal.bg-dark.inline-block
    //-
      li
        a(href="/about") About Buzzr
      li
        a(href="http://blog.buzzr.io/") Blog
      li
        a(href="/terms") Terms &amp; Privacy
    li.clickable(ng-click="toggleFeedback()")
      | Contact
    li.italic
      | Made in London
.header-spacer
