footer.pages-footer.margin-top-big
  ul.list-horizontal.bg-dark.inline-block
    //-
      li
        a(href="/about") About Buzzr
      li
        a(href="http://blog.buzzr.io/") Blog
    li
      a(href="/terms") Terms &amp; Privacy
    li
      a(href="/about") Contact
    li.italic
      | Made in London
.header-spacer
