p.margin-top-big
  span.italic Check out other recent searches:
p.margin-top
  a.button-white.button-width.margin-mini(href="/damien%20hirst") damien hirst
  a.button-white.button-width.margin-mini(href="/sharing%20economy") big data
p
  a.button-white.button-width.margin-mini(href="/london%20property") london property
  a.button-white.button-width.margin-mini(href="/judith%20butler") judith butler