.center(ng-controller="appSocialHeaderCtrl" ng-show="showSocialHeader()")
  ul.list-horizontal.inline-block
    li(style="position: relative; bottom: -11px; margin: 0; margin-left: 20px; flaot: left")
      iframe(src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FBuzzrApp&width&layout=button_count&action=like&show_faces=false&share=false&height=65&appId=749034458460876" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:24px; width: 82px;" allowTransparency="true")
    li(style="margin: 0; position: relative; bottom: -11px; overflow: hidden; width: 210px; float:left")
      a(href="https://twitter.com/buzzrapp" class="twitter-follow-button" data-show-count="true" data-lang="en") Follow @twitterapi