include header

.margin
  h2.margin.center Add Tweet to a Tweet4me

  form.form.center(name="addTweetForm")

    .form-group
      label User:*
      select(ng-model="tweet.email" ng-change="updateTopics()" required)
        option(ng-repeat="t4m in t4ms" value="{{t4m.user}}") {{t4m.user}}
    
    .ng-hide(ng-show="showTopic()")
      .form-group
        label Topic:*
        select(ng-model="tweet.topic" required)
          option(ng-repeat="t in topics" value="{{t}}") {{t}}

    .ng-hide(ng-show="showTweetForm()")
      .form-group
        label URL:*
        input(type="text", placeholder="Url", ng-model="tweet.url" required)

      .form-group
        label Text:*
        textarea(ng-model="tweet.text" style="height: 150px" required)
      
      .form-group
        button.button-black.medium(ng-click="addTweet()" , ng-disabled="addTweetForm.$invalid") Add Tweet
        br
        span.required * required
