include header

.margin
  h1.margin Admin: Buzzrs
  table.margin
    tr
      td.bold topic
      td.bold last viewed
      td.bold last updated
      td.bold # passive links
      td.bold # active links
      td.bold language
      td.bold action
    tr(ng-repeat="buzzr in buzzrs")
      td {{buzzr.topic}}
      td {{buzzr.lastViewed}}
      td {{buzzr.lastUpdated}}
      td {{buzzr.passiveLinks}}
      td {{buzzr.activeLinks}}
      td {{buzzr.lang}}
      td
        .underline remove
