include header

.margin
  h1.margin Admin: Buzzrs
  table.margin
    tr
      td.padding.bold topic
      td.padding.bold last viewed
      td.padding.bold last updated
      td.padding.bold # passive links
      td.padding.bold # active links
      td.padding.bold language
      td.padding.bold action
    tr(ng-repeat="buzzr in buzzrs")
      td.padding {{buzzr.topic}}
      td.padding {{buzzr.lastViewed | date : 'yyyy-MMM-dd'}}
      td.padding {{buzzr.lastUpdated | date : 'yyyy-MMM-dd'}}
      td.padding.center {{buzzr.passiveLinks}}
      td.padding.center {{buzzr.activeLinks}}
      td.padding.center {{buzzr.lang}}
      td
        span.underline remove
        br
        span.underline update
