include header

.margin
  h1.margin Admin: Errors
  
  h2.margin Title Errors
  table.margin
    tr(ng-repeat="error in titleErrors")
      td {{user.email}}

  h2.margin.margin-top-big Socket Errors
  table.margin
    tr(ng-repeat="error in socketErrors")
      td {{user.email}}
