include header

.margin
  h2.margin.center Add Tweet to a Tweet4me

  form.form.center(name="addTweetForm")

    .form-group
      label User:*
      select(ng-model="tweet.user")
        option anslem92@live.co.uk
        option atmb24601@gmail.com

    .form-group
      label URL:*
      input(type="text", placeholder="Url", ng-model="tweet.url")

    .form-group
      label Text:*
      textarea(ng-model="tweet.text" style="height: 150px")
    
    .form-group
      button.button-black.medium(ng-click="addTweet()") Add Tweet
      br
      span.required * required
