html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{background:transparent;font-size:100%;margin:0;padding:0;vertical-align:baseline}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{border:0;border-top:1px solid #ccc;display:block;height:1px;margin:1em 0;padding:0}
input,select{vertical-align:middle}
html,body{font-family:'Open Sans',Helvetica,Arial,sans-serif;font-weight:400;font-size:14px;width:100%;height:100%;line-height:1.5;overflow:hidden}
.app-view{width:100%;height:100%;overflow:auto}
a{text-decoration:none;color:inherit}
h1,h2,h3{font-weight:300;line-height:2;margin-top:1em}
h1{font-size:2.2em}
h2{font-size:1.8em}
.composite-layer{-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0)}
.clickable{cursor:pointer}
.table{display:table}
.table-cell-vertical-middle{display:table-cell;vertical-align:middle}
.bold{font-weight:bold}
.italic{font-style:italic}
.sans-serif{font-family:Helvetica,sans-serif}
.serif{font-family:Garamond,serif}
.underline{border-bottom:2px solid Black}
.small{font-size:.8em}
.center{text-align:center}
.left{text-align:left}
.right{text-align:right}
.justify{text-align:justify}
.inline-block{display:inline-block}
.margin{margin:1em}
.margin-top{margin-top:1em}
.margin-right{margin-right:1em}
.button-white,.button-black{-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;border-radius:4px;padding:.5em 2em;display:inline-block;border:2px Black solid;min-width:40px;text-align:center}
.button-white{background:White;color:Black}
.button-black{background:Black;color:White}
.pages-footer,.header-footer{position:absolute;bottom:15px;left:0;width:100%;text-align:center;font-size:11px;font-weight:bold;color:Gray}
.header-footer{bottom:31px;left:-20px}
.footer-spacer{width:100%;height:140px}
.header{display:block;position:absolute;left:0;top:0;width:320px;height:100%;z-index:1000;-webkit-transition:-webkit-transform .5s;-moz-transition:-webkit-transform .5s;-o-transition:-webkit-transform .5s;transition:-webkit-transform .5s;-webkit-transition:transform .5s;-moz-transition:transform .5s;-o-transition:transform .5s;transition:transform .5s;-webkit-transform:translateX(-290px);-moz-transform:translateX(-290px);-o-transform:translateX(-290px);transform:translateX(-290px);}
.header.open{-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0)}
.header-content-left,.header-content-center,.header-content-right{float:left;height:100%;padding-top:1em;background:White}
.header-content-left{width:20px}
.header-content-center{width:269px;border-right:1px Black solid;position:relative}
.header-content-right{width:30px;background:transparent;}
.header-content-right img{margin-left:1em}
.list-horizontal li{display:inline-block;margin:0 .5em}
.pages-container{margin:0 auto;text-align:left;position:relative;max-width:960px}
.appstore-logo{height:40px}
.home-heading-logo{width:260px;padding:55px 0 0 0;margin:50px auto 10px auto;height:0;background:url("/img/logo.png") no-repeat;overflow:hidden}
.home-heading-subtitle{font-size:17px;font-weight:300;margin-bottom:1.5em;text-align:center;line-height:1.5}
