extend layout

block main-content
  include ../../app/buffer/settings

//- Facebook Conversion Code for buffer conversion
img(height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6017359678706&amp;value=0.01&amp;currency=GBP")
