doctype
html(lang="en", itemtype="http://schema.org/WebPage", itemscope)
  head
    meta(charset="utf-8")
    
    title(itemprop="name") buzzr    
    meta(name="description" content="Take your audience to the next level with premium content from Buzzr. Get the newest, most relevant content on your topic." itemprop="description")
    
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="google-site-verification" content="gESquaFL7Rx3TtFVDMbj-EU1nQKZpQyn9VIxis5o0-8")
    meta(name="twitter:account_id" content="2465882827")
    
    link(rel="shortcut icon" href="/img/favicon.ico")
    link(rel="apple-touch-icon" href="/img/icon.png")
    link(href="https://plus.google.com/112516726645672953655", rel="publisher")
   
    link(rel="stylesheet" href="/css/application.css" type="text/css")

    <!--[if IE]>
    <script src="/js/iewarning/warning.js"></script>
    <script>window.onload=function(){e("/js/iewarning/")}</script>
    <![endif]-->

  body(ng-app="app")
    //-include ../../app/common/socialHeader
    include ../../app/header/header
    .blackout
    div.app-view(ng-view)
      block main-content
    include ../../app/sidebar/sidebar
    include ../../app/feedback/feedback


    if !!bootstrappedUser
      script.
        window.bootstrappedUser = !{JSON.stringify(bootstrappedUser.safe())}
    if !!bootstrappedTopics
      script.
        window.bootstrappedTopics = !{JSON.stringify(bootstrappedTopics)}

    if !!admin
      script(type="text/javascript" src="/js/admin.js" async)
    else
      script(type="text/javascript" src="/js/application.js" async)
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49293054-2', 'buzzr.io');