.tweet4me-paradise
  include ../common/buzzr-logo

  h1.margin Something went wrong with your Buffer login!

  h2.margin
    | Please try again or 
    span.underline.clickable(ng-click="toggleFeedback()") contact us for help.

  a.button-white.margin(href="/auth/buffer", target="_self")
    | Sign in with your Buffer
