.buffer-top-section
  include ../common/buzzr-logo
  h1.tweet4me-heading
    strong.medium We keep your Buffer full, and your audience enganged!
    br
    | With premium content from Buzzr.
  p.medium
    a.button-green.buffer-btn(href="/buffer/pricing")
      | Start 3-day free trial &nbsp;
      span.action-readlater.tweet4me-heart
        img(src="/img/heart.svg")
  
  p.buffer-top-section-bottom &#8595;

.center
  .margin-top-big
  h1 How does it work?
  
  .margin-top-big
  .tweet4me-price
    h1 1 
    h3.margin-top Tell us which topics you want to share.
  .tweet4me-price
    h1 2 
    h3.margin-top We fill your Buffer with the best just-in-time content.
  .tweet4me-price
    h1 3
    h3.margin-top You can focus on direct engangment with your audience!

.margin-top
.center.margin-top-big

  h3.medium.margin-top-sm.bold Let's go:
  
  p.medium
    a.button-green.buffer-btn(href="/buffer/pricing")
      | Start 3-day free trial &nbsp;
      span.action-readlater.tweet4me-heart
        img(src="/img/heart.svg")
  
  .margin-top-big
  .inline-block
    .clear-both.padding-top.left
      .tweet4me-check &#10004;
      .tweet4me-check-text
        | First 3 days for 
        strong free - no credit card needed!
  
    .clear-both.padding-top.left
      .tweet4me-check &#10004; 
      .tweet4me-check-text
        | Get Buzzr starting at 
        strong only $10/month. 
  
    .clear-both.padding-top.left
      .tweet4me-check &#10004;
      .tweet4me-check-text
        strong Quit any time - "no questions asked" policy!
  
  .center.margin-top-sm
    a.underline(href="/buffer/pricing") View pricing

.header-spacer
include ../common/footer
