.buffer-top-section
  include ../common/buzzr-logo
  h1.tweet4me-heading
    strong.medium Take your Buffer to the next level!
    br
    | With premium content from Buzzr.
  p.medium
    a.button-green.buffer-btn(href="/buffer/pricing")
      | Start 7-day free trial &nbsp;
      span.action-readlater.tweet4me-heart
        img(src="/img/heart.svg")
  
  p.buffer-top-section-bottom &#8595;

.center
  .margin-top-big
  h1 We keep your Buffer full, and your audience enganged:
  
  .margin-top-big
  .tweet4me-price
    h1 1 
    h3.margin-top Tell us which topics you share about.
  .tweet4me-price
    h1 2 
    h3.margin-top We fill your Buffer with the best and newest content.
  .tweet4me-price
    h1 3
    h3.margin-top You make your audience happy

.margin-top
.center.margin-top-big

  h3.medium.margin-top-sm.bold Let's go:
  
  p.medium
    a.button-green.buffer-btn(href="/buffer/pricing")
      | Start 7-day free trial &nbsp;
      span.action-readlater.tweet4me-heart
        img(src="/img/heart.svg")
  
  .margin-top-big
  .inline-block
    .clear-both.padding-top.left
      .tweet4me-check &#10004;
      .tweet4me-check-text
        | First week for 
        strong free - no credit card needed!
  
    .clear-both.padding-top.left
      .tweet4me-check &#10004; 
      .tweet4me-check-text
        | Get Buzzr starting at 
        strong only $10/month. 
  
    .clear-both.padding-top.left
      .tweet4me-check &#10004;
      .tweet4me-check-text
        strong Quit any time - "no questions asked" policy!
  
  .center.margin-top-sm
    a.underline(href="/buffer/pricing") View pricing

.header-spacer
include ../common/footer
