.center(itemprop="mainContentOfPage")
  include ../common/buzzr-logo

  h3.big.margin-top We keep your Buffer full, and your audience enganged.
  h3.big.center.margin-top Choose a plan:

  .center.margin-top
    .tweet4me-price
      h3 Startup
      p.bold $10 / MONTH
      p 3 updates per business day
      p -
      p -
      p Premium Services
      p -
      a.button-green(ng-click="registerClick('startup')" href="/auth/buffer" target="_self")
        | Authorize Buffer:
        br
        | Start FREE Trial

    .tweet4me-price
      h3 Business
      p.bold $49 / MONTH
      p 5 updates per business day
      p 2 updates on weekends
      p -
      p Premium Services
      p -
      a.button-green(ng-click="registerClick('business')" href="/auth/buffer" target="_self")
        | Authorize Buffer:
        br
        | Start FREE Trial

    .tweet4me-price
      h3 Enterprise Plus
      p.bold $99 / MONTH
      p 10 updates 24/7
      p weekends &amp; holidays
      p Real-time Content
      p Premium Services
      p Phone Support
      a.button-green(ng-click="registerClick('enterprise')" href="/auth/buffer" target="_self")
        | Authorize Buffer:
        br
        | Start FREE Trial

  p.center.margin-top-big
    span.underline.clickable(ng-click="toggleFeedback()") Questions? Get in touch.

.header-spacer.margin-top
include ../common/footer
