.tweet4me-paradise
  include ../common/buzzr-logo

  h2.margin-top(ng-hide="success") &#10004; Buffer authorized

form.form.tweet4me-form(name="signupForm"  ng-hide="success")
  h2.margin-top-sm.bold Let's go:

  .form-group
    label.medium Your topic(s):
    input(name="topic", type="text", placeholder="e.g. big data, nyc fashion, startups", ng-model="topic", required, style="width: 100%")

  .form-group.padding-top
    label.medium Your Email:
    input(name="email", type="email", placeholder="Your Email", ng-model="email", required, style="width: 100%")
    p.italic.left We will send your access codes to this email.
  
  .form-group.notifier.ng-hide.red(ng-show="error")
    .error {{error}}
  
  .form-group
    br
    button.button-green.tweet4me-trail-btn(ng-click="signup()" ng-hide="processing")
      | Start free trial 
      span.action-readlater.saved.tweet4me-heart
        img(src="/img/heart.svg")

.center.form.margin-top-big.ng-hide(ng-show="success")
  button.button-green.big &#10004; Your Buffer is setup
  p.margin-top-big You will soon see a fresh set of content in your Buffer.

