.pages-container
  include ../common/buzzr-logo

  form.form.center(name="signupForm")
    .form-error
      
    .form-group
      label Email*
      input(name="email", type="email", placeholder="Email", ng-model="email", required)
    
    .form-group
      label Password*
      input(name="password", type="password", placeholder="Password", ng-model="password", required)
    
    .form-group.notifier
      .error {{notifier.error}}
      .notice {{notifier.notice}}
    
    .form-group
      button.button-black(ng-click="signup()", ng-disabled="signupForm.$invalid") Join
      br
      span.required * required
include ../pages/footer
