.pages-container
  include ../common/buzzr-logo

  form.form.center(name="signupForm")
    h1.center Welcome!
    p.margin.margin-top-big.italic Please choose a password:

    //-
      a.button-twitter.margin(href="/auth/twitter", target="_self")
        .svg
          include ../../public/img/twitter.svg
        | Sign in with Twitter
      p.italic or

    .form-group
      label Email: {{email}}
    
    .form-group
      label Password*
      input(name="password", type="password", placeholder="Password", ng-model="password", required)
    
    .form-group
      button.button-black.medium(ng-click="signup()", ng-disabled="signupForm.$invalid") Go
      br
      span.required * required

    .form-group.notifier
      .error {{notifier.error}}
      .notice {{notifier.notice}}
