.pages-container
  include ../common/buzzr-logo

  form.form.center(name="signupForm")
    p.margin.margin-top-big.italic Join the Buzzr BETA program:

    a.button-twitter.margin(href="/auth/twitter", target="_self")
      .svg
        include ../../public/img/twitter.svg
      | Sign in with Twitter

    p.italic or

    .form-group
      label Email*
      input(name="email", type="email", placeholder="Email", ng-model="email", required)
    
    .form-group
      label Password*
      input(name="password", type="password", placeholder="Password", ng-model="password", required)
    
    .form-group
      button.button-black.medium(ng-click="signup()", ng-disabled="signupForm.$invalid") Join
      br
      span.required * required

    .form-group.notifier
      .error {{notifier.error}}
      .notice {{notifier.notice}}
