.pages-container
  .center
    a.logo-big(href="/")
      h1 Buzzr
      h2 Your personal content feed made easy.

  form.form.center(name="signinForm")
    .margin-top
      a.underline(href="/join") New user? Sign up here.
    
    .form-group
      label Email
      input(name="email", type="email", placeholder="Email", ng-model="email", required)
    
    .form-group
      label Password
      input(name="password", type="password", placeholder="Password", ng-model="password", required)
    
    .form-group
      button.button-black(ng-click="signin()", ng-disabled="signinForm.$invalid") Sign in

include ../pages/footer

