.pages-container
  .center
    a.logo-big(href="/")
      h1 Buzzr
      h2 Your personal content feed made easy.


  form.form.center
    a.underline(href="/join") New user? Sign up here.
    
    .form-group
      input(placeholder="Email", ng-model="username")
    
    .form-group
      input(placeholder="Password", type="password", ng-model="password")
    
    button(ng-click="signin(username, password)") Sign In

include ../pages/footer

