.pages-container
  include ../common/buzzr-logo

  form.form.center(name="signinForm")

    //-
      a.button-twitter.margin.margin-top-big(href="/auth/twitter", target="_self")
        .svg
          include ../../public/img/twitter.svg
        | Sign in with Twitter

      p.italic or
    h1 Login

    .form-group
      label Email*
      input(name="email", type="email", placeholder="Email", ng-model="email", required)
    
    .form-group
      label Password*
      input(name="password", type="password", placeholder="Password", ng-model="password", required)

    .form-group
      button.button-black.medium(ng-click="signin()") Sign in
      br
      span.required * required

    .form-group.notifier
      .error {{notifier.error}}
      .notice {{notifier.notice}}

    .margin-big
      a.underline(href="/") New user? Sign up here.
