.pages-container(itemprop="mainContentOfPage")
  include ../common/buzzr-logo

  h1.margin-top Buzzr Manifesto

  h2.margin-top-sm We are of the web.
  p.justify.
    The internet is the best place to stay up to date on anything you are intereted in.
    Buzzr let's you collect everything that is happening online
    into your own personal feeds grouped by topic and interest.
    

  h2.margin-top Follow, don't filter.
  p.justify.
    Buzzr will go through the web on the look out for your interests. Instead of filtering out from only a selection of sources,
    Buzzr will find everything that is relevant to you - no matter where in the web it's hiding.
    Buzzr follows the whole internet for you.

  h2.margin-top Clean, Fast, Simple.
  p.justify.
    We love design, simplicity and smart typography. Our aim is to make Buzzr a joy to read and use.
    Using typography as a tool to optimize for readability and hirarchy to get a skim and get a quick overview.

  p.margin-top
    | We are a small startup, working on Buzzr in our living rooms, and we want to make sure you are happy:
    br
    | Comments, suggestions, or need help? 
    span.underline.clickable(ng-click="toggleFeedback()") Let us know!


include ../common/footer
