.pages-container
  a(href="/")
    h1.home-heading-logo Buzzr
    h2.home-heading-subtitle Your personal content feed made easy.

  h1
    strong buzzr 
    | Manifesto
  h2 We are of the web.
  p.justify.
    The internet is the best place to stay up to date on anything you are intereted in.
    Buzzr let's you collect everything that is happening online
    into your own personal feeds grouped by topic and interest.
    We are not asking you to select only a hand full of websites to follow: 
    Buzzr follows the whole internet for you.

  h2 Bullet 2
  p.justify.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Phasellus interdum lobortis consectetur. Sed ut vehicula urna, nec tempor nisl.
    Integer nec elit neque. Praesent convallis imperdiet libero, quis malesuada metus
    luctus sed. Sed sit amet enim pellentesque, interdum tortor a, blandit nulla. 

  h2 Bullet 3
  p.justify.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Phasellus interdum lobortis consectetur. Sed ut vehicula urna, nec tempor nisl.
    Integer nec elit neque. Praesent convallis imperdiet libero, quis malesuada metus
    luctus sed. Sed sit amet enim pellentesque, interdum tortor a, blandit nulla. 

include footer
