.pages-container(itemprop="mainContentOfPage")
  include ../common/buzzr-logo

  h1 Buzzr Manifesto
  h2.margin-top We are of the web.
  p.justify.
    The internet is the best place to stay up to date on anything you are intereted in.
    Buzzr let's you collect everything that is happening online
    into your own personal feeds grouped by topic and interest.
    

  h2.margin-top Follow, don't filter.
  p.justify.
    Buzzr will go through the web on the look out for your interests. Instead of filtering out from only a selection of sources,
    Buzzr will find everything that is relevant to you - no matter where in the web it's hiding.
    Buzzr follows the whole internet for you.

  h2.margin-top Bullet 3
  p.justify.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Phasellus interdum lobortis consectetur. Sed ut vehicula urna, nec tempor nisl.
    Integer nec elit neque. Praesent convallis imperdiet libero, quis malesuada metus
    luctus sed. Sed sit amet enim pellentesque, interdum tortor a, blandit nulla. 

include ../common/footer
