.pages-container(itemprop="mainContentOfPage")
  include ../common/buzzr-logo

  h1.margin-top About

  h2.margin-top-sm Milestones
  p.justify
    | * Feb 2014, launched private beta
    br
    | * Apr 2014, alumni of the first Google Launchpad London program
    br
    | * Mai 2014, first paying costumers
    br
    span.underline.clickable(ng-click="toggleFeedback()") Get in touch!

.footer-spacer
include ../common/footer
