.footer-spacer

footer.pages-footer
  ul.list-horizontal.bg-white.inline-block
    li
      a(href="/about") About buzzr
    li
      a(href="/join") Join
    li
      a(href="/login") Login
    li
      a(href="/terms") Terms &amp; Privacy
