a.feed-topic(href="/login", ng-show="!identity.isAuthenticated()") Login

.pages-container(itemprop="mainContentOfPage")
  include ../common/buzzr-logo
  
  h1.home-heading What are you interested in?
  form.home-form.form(ng-submit="search()")
    input.home-input#focus(ng-model="searchText")

  .center.margin-top-big
    p.margin-top-big
      br
      br
      span.italic Or check out these popular Buzzrs:
    p.margin-top-big
      a.button-white.button-width(href="/damien%20hirst") damien hirst
      | &nbsp;&nbsp;
      a.button-white.button-width(href="/snowboarding") snowboarding
    p.margin-top-sm
      a.button-white.button-width(href="/javascript") javascript
      | &nbsp;&nbsp;
      a.button-white.button-width(href="/london%20property") london property
    p.margin-top-sm
      a.button-white.button-width(href="/judith%20butler") judith butler
      | &nbsp;&nbsp;
      a.button-white.button-width(href="/teen%20wolf") teen wolf

//-
  p.center.margin-top
    a(href="/")
      img.margin-right(src="/img/appstore.png", alt="Get it on the Apple App Store")
    a(href="/")
      img(src="/img/playstore.png", alt="Get it on the Google Play Store")

include ../common/footer
