.pages-container(itemprop="mainContentOfPage")
  include ../common/buzzr-logo
  include ../common/socialHeader

  h1.home-heading What are you interested in?
  form.home-form.form(ng-submit="search()")
    input.home-input#focus(ng-model="searchText")
    .home-search-icon
      include ../../public/img/search.svg

  .center.margin-top-big
    include ../common/otherBuzzrs

//-
  p.center.margin-top
    a(href="/")
      img.margin-right(src="/img/appstore.png", alt="Get it on the Apple App Store")
    a(href="/")
      img(src="/img/playstore.png", alt="Get it on the Google Play Store")

  include ../common/footer
