.pages-container(itemprop="mainContentOfPage")
  include ../common/buzzr-logo
  
  h1.home-heading What are you interested in?
  form.home-form.form(ng-submit="search()")
    input.home-input#focus(ng-model="searchText")
    .home-search-icon
      include ../../public/img/search.svg

  .center.margin-top-big
    p.margin-top-big
      br
      br
      span.italic Or check out these popular topics:
    p.margin-top-sm
      a.button-white.button-width.margin-mini(href="/damien%20hirst") damien hirst
      a.button-white.button-width.margin-mini(href="/snowboarding") snowboarding
    p
      a.button-white.button-width.margin-mini(href="/javascript") javascript
      a.button-white.button-width.margin-mini(href="/london%20property") london property
    p
      a.button-white.button-width.margin-mini(href="/judith%20butler") judith butler
      a.button-white.button-width.margin-mini(href="/teen%20wolf") teen wolf

//-
  p.center.margin-top
    a(href="/")
      img.margin-right(src="/img/appstore.png", alt="Get it on the Apple App Store")
    a(href="/")
      img(src="/img/playstore.png", alt="Get it on the Google Play Store")

include ../common/footer
