.home-box.table
  a(href="/")
    h1.home-heading-logo Buzzr
    h2.home-heading-subtitle Your personal content feed made easy.

  p 
    a.signup-btn(href="/join") Sign up for buzzr
    //br
    //a(href="/")
    //  img.appstore-logo(src="/img/appstore.png", alt="Get it on the Apple App Store")
    //a(href="/")
    //  img(src="/img/playstore.png", alt="Get it on the Google Play Store")

  p.inline-block.bold.serif.underline
    a(href="/login") Already a member? Log in.

include footer
