.pages-container
  a(href="/")
    h1.home-heading-logo Buzzr
    h2.home-heading-subtitle Your personal content feed made easy.
  p
    form
      input(placeholder="What are you interested in?")
  p 
    //a.signup-btn(href="/join") Sign up for buzzr
    //br
    a(href="/")
      img.appstore-logo.margin-right(src="/img/appstore.png", alt="Get it on the Apple App Store")
    a(href="/")
      img.appstore-logo(src="/img/playstore.png", alt="Get it on the Google Play Store")

  //p.inline-block.bold.underline
    a(href="/login") Existing user? Goto my feeds.

include footer
