.pages-container
  include ../common/buzzr-logo
  
  h1.home-heading What are you interested in?
  form.home-form.form(ng-submit="search()")
    input.home-input(ng-model="searchTerm", autofocus)

  .margin-top &nbsp;
  .margin-top &nbsp;
  p.center.margin-top
    br
    br
    | Help make buzzr better:
    br
    a.button-black(href="/join") Sign up for BETA access
    //-
      br
      a(href="/")
        img.appstore-logo.margin-right(src="/img/appstore.png", alt="Get it on the Apple App Store")
      a(href="/")
        img.appstore-logo(src="/img/playstore.png", alt="Get it on the Google Play Store")

include footer
