.filters(style="top: 9px")
    a.filter-input(href="/login" style="padding: 4px 6px; letter-spacing: 1px") Login

.pages-container(itemprop="mainContentOfPage" style="max-width: 900px")
  include ../common/buzzr-logo
  include ../common/socialHeader

  .center.big
    h1.home-pitch
      | The web’s simplest research tool for journalists. Find the most talked about content on any given topic.
      
    img.home-pitch-shot(src="/img/shot.png" alt="Buzzr preview")

    .home-feature.margin-top-big
      span.big.green &#10004; 
      strong Save time
      .home-indent
        | Generate a new feed
        br
        | in real-time.
    .home-feature
      span.big.green &#10004; 
      strong Discover
      .home-indent
        | We don't limit our
        br
        | sources.
    .home-feature
      span.big.green &#10004; 
      strong Collect
      .home-indent
        | Find articles and
        br
        | save for later.
  
  .center
    //-ul.inline-block.left.medium.bold
      li First 14-days free
      li Only $9 a month
      li we won't charge you unless you stay!
      li Quit any time no questions asked
    p.margin-top
      | Get Buzzr for 
      strong.big only $9 a month
      | , and try the first 
      strong.medium 14 days for free
      br
      strong.medium we won't charge you unless you stay!
    p.margin-top
      button.button-green.big(id="stripeButton" ng-click="openCheckout()") Subscribe and Go!
    p.margin-top
      //-strong.medium we won't charge you unless you stay!
      | Quit any time with our "no questions asked" policy!

.header-spacer
include ../common/footer
