.pages-container(itemprop="mainContentOfPage")
  include ../common/buzzr-logo
  include ../common/socialHeader
  
  .filters(style="top: 9px")
    a.filter-input(href="/login" style="padding: 4px 6px; letter-spacing: 1px") Login

  h1.margin-top
  p.medium
  
  p.margin-top-big.center
    button.button-green.big(id="stripeButton" ng-click="openCheckout()") Only $10 and Go!
  p.center.margin-top-sm
    strong Limited offer: one-time fee for unlimited access!
    br
    | with 30-day "no questions asked" refund policy.

include ../common/footer
