.filters(style="top: 9px")
  a.filter-input(href="/login" style="padding: 4px 6px; letter-spacing: 1px") Login

.pages-container(itemprop="mainContentOfPage" style="max-width: 900px")
  include ../common/buzzr-logo

  .center
    h1.home-pitch
      | Pick a topic, let Buzzr tell you what's hot.
    h2.home-pitch-sub-heading
      | Your top 5 links / every 24 hours
    a(href="/search")
      img.home-pitch-shot(src="/img/shot.png" alt="Buzzr preview")
  
  .center
    p.margin-top-big
      a.button-green.big.margin-sm(href="/search") Go!
      //a.button-green.big.margin-sm(href="/join") Join our BETA

.header-spacer
include ../common/footer
