.pages-container(itemprop="mainContentOfPage")
  include ../common/buzzr-logo
  
  .filters(style="top: 9px")
    a.filter-input(href="/login" style="padding: 4px 6px; letter-spacing: 1px") Login

  h1.margin-top About
  p.medium
    strong Buzzr 
    | keeps you up-to-date on any given topic.
    br
    | It sources from all of the web and continuously pulls together the most recent and popular subject-specific articles.
  
  p.margin-top-big.center
    button.button-green(id="stripeButton") Only $9 and Go!
    br
    strong Limited offer: one time fee for lifetime access!
    br
    | We will switch to a monthly subscription once the first 1000 users have joined.

  p.margin-top-big.center
    br
    | Comments, suggestions, or need help? 
    span.underline.clickable(ng-click="toggleFeedback()") Let us know!
