.filters(style="top: 9px")
  a.filter-input(href="/login" style="padding: 4px 6px; letter-spacing: 1px") Login

.pages-container(itemprop="mainContentOfPage" style="max-width: 900px")
  include ../common/buzzr-logo

  .center
    h1.home-pitch
      | Get the top 5 links from Twitter every day - on your topic.

    a(href="/join")
      img.home-pitch-shot(src="/img/shot.png" alt="Buzzr preview")
    
  .center.padding-top
    p.margin-top-big
      a.button-green.big.margin-sm(href="/search") Go!
      //a.button-green.big.margin-sm(href="/join") Join our BETA

.header-spacer
include ../common/footer
