.filters(style="top: 9px")
    a.filter-input(href="/login" style="padding: 4px 6px; letter-spacing: 1px") Login

.pages-container(itemprop="mainContentOfPage" style="max-width: 900px")
  include ../common/buzzr-logo
  include ../common/socialHeader

  .center.big
    h1.home-pitch
      | The web’s simplest research tool for journalists to find the most talked about content on any given topic.
      
    img.home-pitch-shot(src="/img/shot.png" alt="Buzzr preview")

    .home-feature.margin-top-big
      span.big.green &#10004; 
      strong Save time
      .home-indent
        | Generate a new feed
        br
        | in one click.
    .home-feature
      span.big.green &#10004; 
      strong Discover
      .home-indent
        | We don't limit our
        br
        | sources.
    .home-feature
      span.big.green &#10004; 
      strong Collect
      .home-indent
        | Find articles and
        br
        | save for later.
  
  .center
    p.margin-top
      button.button-green.big(id="stripeButton" ng-click="openCheckout()") Access now for only $10 and Go!
    p.margin-top-sm
      strong Limited offer: one-time fee for unlimited access!
      br
      | with 30-day "no questions asked" refund policy.

.header-spacer
include ../common/footer
