.pages-container(itemprop="mainContentOfPage")
  include ../common/buzzr-logo

  h1.margin-top Pricing

  .center
    .inline-block.left.
      Business Plus
      $99 / MONTH
      3 tweets per business day
      3 tweets on weekends and holidays
      Priority Input
      Premium Services
      Phone Support
      Start FREE Trial  
    .inline-block.left.
      Business
      $49 / MONTH
      3 tweets per business day
      Premium Services
      Start FREE Trial
    .inline-block.left.
      Startup
      $15 / MONTH
      1 tweet per business day
      Premium Services
      Start FREE Trial

  p
    span.underline.clickable(ng-click="toggleFeedback()") Questions? Get in touch.

.footer-spacer
include ../common/footer
