.pages-container(itemprop="mainContentOfPage")
  include ../common/buzzr-logo

  h1.margin-top Pricing

  p.justify.
    Business Plus
    $99/ MONTH
    125 Zaps
    Zaps run every 5 Minutes
    50,000 Tasks/month
    Premium Services
    Phone Support
    Priority Input
    Start FREE Trial  
    
    Business
    $49/ MONTH
    50 Zaps
    Zaps run every 5 Minutes
    15,000 Tasks/month
    Premium Services
    Start FREE Trial  
    
    Basic
    $15/ MONTH
    20 Zaps
    Zaps run every 15 Minutes
    3,000 Tasks/month
    Premium Services
    Start FREE Trial  
    
    Free
    $0/ MONTH
    5 Zaps
    Zaps run every 15 Minutes
    100 Tasks/month
    Start FREE Trial


  p
    span.underline.clickable(ng-click="toggleFeedback()") Questions? Get in touch.

.footer-spacer
include ../common/footer
