.pages-container(itemprop="mainContentOfPage")
  include ../common/buzzr-logo

  h1.margin-top Terms &amp; Privacy

  h2.margin-top-sm Links to Other Websites
  p.justify.
    Our Site contains links to other websites.
    The fact that we link to a website is not an endorsement, 
    authorization or representation of our affiliation with that third party.
    We do not exercise control over third party websites.
    These other websites may place their own cookies or other files on your computer,
    collect data or solicit personally identifiable information from you.
    Other sites follow different rules regarding the use or disclosure of the personally
    identifiable information you submit to them.
    We encourage you to read the privacy policies or statements of the other websites you visit. 
  
  p
    br
    | This Policy is effective as of March 03, 2014. 
    | If you have any thoughts or questions about this Policy 
    span.underline.clickable(ng-click="toggleFeedback()") please let us know.

.footer-spacer
include ../common/footer
