.filters(style="top: 9px")
    a.filter-input(href="/login" style="padding: 4px 6px; letter-spacing: 1px") Login

.pages-container(itemprop="mainContentOfPage" style="max-width: 900px")
  include ../common/buzzr-logo

  .center.big
    h1.home-pitch
      | The web’s simplest research tool. Find the most relevant and most talked about content on any given topic.
      
    img.home-pitch-shot(src="/img/shot.png" alt="Buzzr preview" ng-click="toggleVideo()")
    .blackout-video.ng-hide(ng-show="showVideo" ng-click="toggleVideo()")
      iframe(src="//www.youtube.com/embed/cjQOxiCo2bY?rel=0" frameborder="0" allowfullscreen)

    .home-feature.margin-top-big
      span.big.green &#10004; 
      strong Save Time
      .home-indent
        | Content that matters
        br
        | right now.
    .home-feature
      span.big.green &#10004; 
      strong Discover Gems
      .home-indent
        |  What the community
        br
        | is talking about.
    .home-feature
      span.big.green &#10004; 
      strong Read Later
      .home-indent
        | Save the everything
        br
        | you find.
  
  .center
    p.margin-top
      | Get Buzzr for 
      strong.big only $2 a month
      | , and try the first 
      strong.medium 14 days for free
      br
    p.margin-top
      button.button-green.big(id="stripeButton" ng-click="openCheckout()") Join now first 14-days free
    p.margin-top
      strong.medium We won't charge your card unless you stay!
      br
      | Quit any time with our "no questions asked" policy!

.header-spacer
include ../common/footer
