.pages-container
  include ../common/buzzr-logo

  h1 Terms &amp; Privacy

  h2.margin-top Links to Other Websites
  p.justify.
    Our Site contains links to other websites.
    The fact that we link to a website is not an endorsement, 
    authorization or representation of our affiliation with that third party.
    We do not exercise control over third party websites.
    These other websites may place their own cookies or other files on your computer,
    collect data or solicit personally identifiable information from you.
    Other sites follow different rules regarding the use or disclosure of the personally
    identifiable information you submit to them.
    We encourage you to read the privacy policies or statements of the other websites you visit. 
  
  h2.margin-top Cookies
  p.justify.
    To give you the best possible experience, buzzr uses cookies and by continuing to use our
    site you agree that we can save them on your device.
    Cookies are tiny text files which are placed on your computer. Buzzr utilizes them to remember your
    preferences for our site. Our cookies don’t collect personal information.
  
  h2.margin-top Your Information &amp; Data
  p.justify
    | We never share information we receive from you unless:
    br
    | (a) we have your permission to share that information.
    br
    | (b) we have given you prior notice that the information will be shared, and with whom.
    br
    | (c) that information is aggregate information or other information that does not identify you.

  p.justify.margin-top.
    We may share or disclose non-private information, aggregate information, or other non-personal 
    information with people and entities with which we’re doing business.
    We strive to protect your private information, including your account information,
    to keep it private. We cannot, however, guarantee the security of any information.
    Unauthorized entry or use, hardware or software failure, and other factors may compromise
    the security of user information at any time. 
  
  h2.margin-top Changes to this Policy
  p.justify.
    This Policy may be updated from time to time for any reason;
    each version will apply to information collected while it was in place.
    We will notify you of any material changes to our Policy by posting the
    new Policy on our Site, and email you should we have your email address.
    You are advised to consult this Policy regularly for any changes.
    
  p
    br
    | This Policy is effective as of March 03, 2014. 
    | If you have any thoughts or questions about this Policy 
    a.underline(href="mailto:help@buzzr.io") please let us know.

include footer