if !!bootstrappedUser
  script.
    window.bootstrappedUser = !{JSON.stringify(bootstrappedUser.safe())}

if !!bootstrappedBuzzr
  script.
    window.bootstrappedBuzzr = !{JSON.stringify(bootstrappedBuzzr)}
