header.header(ng-controller="appHeaderCtrl")
  p beta
  h1.header-heading-logo Buzzr
  h2.header-heading-subtitle Your personal content feed made easy.
  h2.header-heading-subtitle Magazinify the web.
  h2.header-heading-subtitle Make the web your magazine.
  h2.header-heading-subtitle The web is your magazine.

  
  .header-loggedout-menu(ng-hide="identity.isAuthenticated()")
    a(href="/signup") Join
    a(href="/login") Login

  .header-sidebar
    .header-loggedin-menu(ng-show="identity.isAuthenticated()")
      ul
        li.dropdown
          a.dropdown-toggle(href="", data-toggle="dropdown")
            | {{ identity.currentUser.firstName + ' ' + identity.currentUser.lastName}}
            b.caret
          ul.dropdown-menu
            li(ng-show="identity.currentUser.isAdmin()")
              a(href="/admin/users") User admin
            li
              a(href="/profile") Profile
            li
              a(href="", ng-click="signout()") Sign Out

    a(href="/about") About us
    p &copy; 2014 Buzzr, built in London
