header.header(ng-controller="appHeaderCtrl", ng-class="{'open': open}")
  .header-content-left &nbsp;
  
  .header-content-center
    .header-loggedout-menu(ng-hide="identity.isAuthenticated()") 
      h3 Welcome to buzzr.
      p.
        Sign up to save your personal feeds, 
        and stay up to date on the topics you care about.
      p.margin-top
        a.button-black(href="/join") Join&nbsp;&nbsp;
        | &nbsp;&nbsp;
        a.button-white(href="/login") Login


    .header-loggedin-menu(ng-show="identity.isAuthenticated()")
      ul
        li.dropdown
          a.dropdown-toggle(href="", data-toggle="dropdown")
            | {{ identity.currentUser.firstName + ' ' + identity.currentUser.lastName}}
            b.caret
          ul.dropdown-menu
            li(ng-show="identity.currentUser.isAdmin()")
              a(href="/admin/users") User admin
            li
              a(href="/profile") Profile
            li
              a(href="", ng-click="signout()") Sign Out
    
    .header-footer
      ul.list-horizontal
        li &copy; 2014 built in London, 
        li
          a(href="/about") About
  
  .header-content-right
    img.clickable(src="/img/favicon.png", width="30px", ng-click="toggle()")
