doctype
html
  head
    title Buzzr
    link(rel="stylesheet", href="/css/application.css")

  body(ng-app="app")
    include header
    div(ng-view)
      block main-content
    include bootstrapData
    include scripts
