.button-white
.button-black
.button-twitter
  border-radius 4px
  padding 0.5em 2em
  display inline-block
  border 1px Gray solid
  min-width 40px
  text-align center
  cursor pointer
  opacity 1
  transition opacity 0.5s ease 0s
  &:disabled
    opacity 0.3

.button-twitter
.button-white
  background White
  color Gray

.button-black
  border 1px Black solid
  background Black
  color White

.button-twitter
  padding 0.5em 1.65em
  .svg
    height 20px
    width 20px
    margin-right 8px
    position relative
    top 3px
    line-height 1
    display inline-block

.button-width
  width 115px
