.feed-container
  margin 0 auto
  width 95%
  text-align left

.feed-item
  width 100%
  margin 0 auto
  max-width 800px
  border-bottom 1px solid rgba(0,0,0,0.5)
  background BgLight
  overflow hidden

.feed-item-body
  padding 25px 25px 10px 25px
  

.feed-link
  font-weight bold
  font-size 14px
  line-height 1.2
  &:visited
    color Gray
    font-weight 300

.feed-item-info
  margin-top 15px

.feed-item-actions
  float right

.action-readlater
.action-share
.action-remove
  display inline-block
  margin 0 10px 5px 0
  font-weight 600
  font-size 22px
  text-align center
  line-height 1
  cursor pointer
  color White
  width 24px
  height 24px
  border-radius 50%
  vertical-align bottom
  background rgba(0,0,0,0.3)

.action-remove
  margin-right 1px

.action-share img
  width 12px
  margin 0 2px 1px 0

.action-readlater
  transition background 0.3s ease 0s
  img
    width 14px
    margin 0 0 1px 0
  &.saved
    background Red

.feed-item-date
  float left
  font-weight 300
  font-size 12px
  position relative
  bottom -5px
