.feed-container
  margin 60px auto 0 auto
  width 95%
  text-align left

.feed-topic
  @extend .composite-layer
  z-index 2
  position fixed
  top 0
  left 50px
  text-transform uppercase
  font-size 20px
  font-weight 300
  cursor pointer
  padding 10px 10px
  background White

.feed-item-body
.feed-date
  width 50%
  margin 45px auto
  min-width 650px
  
.feed-date
  font-weight 300
  font-size 24px
  padding-top 60px
  margin-bottom 0

.feed-item-body
  overflow hidden
  padding 10px 0 3px 0
  border-bottom 1px solid rgba(0,0,0,0.5)

.feed-link
  font-weight 400
  font-size 18px
  line-height 1.2
  &:visited
    color Gray
    font-weight 300

.feed-item-info
  margin-top 15px

.feed-item-actions
  float right

.action-readlater
.action-share
.action-remove
  display inline-block
  font-weight 300
  text-align center
  margin 0 10px 5px 0
  font-weight 600
  font-size 22px
  text-align center
  line-height 1
  cursor pointer
  color White
  width 24px
  height 24px
  border-radius 50%
  vertical-align bottom
  background rgba(0,0,0,0.5)

.action-share img
  width 12px
  margin 0 2px 1px 0

.action-readlater span
  display inline-block
  padding 0 2px 2px 0

.feed-item-date
  float left
  font-weight 300
  font-size 12px
  position relative
  bottom -5px
