.filters
  @extend .composite-layer
  z-index 2000
  position fixed
  top 8px
  right 5px

.filter-select
.filter-input
  border-radius 4px
  border 1px solid Gray
  box-shadow none
  text-indent 5px
  background White
  height 20px
  width 160px
  &:focus
    outline none

.filter-input
  margin-right 5px
  appearance none