.pages-footer
.header-footer
  position absolute
  bottom 15px
  left 0
  width 100%
  text-align center
  font-size 11px
  font-weight bold
  color Gray

.header-footer
  bottom 40px
  left -20px

.footer-spacer
  width 100%
  height 140px
