.header
  z-index 1000
  display block
  position fixed
  top 0
  left 0
  width 320px
  height 100%
  transition all 0.3s ease 0s
  transform translateX(-290px)
  &.open
    transform translateX(0)

.header-content-center
.header-content-right
  float left
  height 100%
  background White

.header-loggedout-menu
.header-loggedin-menu
  width 260px
  margin 0 auto
  h4
    margin 1em 0
  ul
    display block
    list-style none

.header-loggedout-menu
  .button-black
  .button-white
    width 41px
  .button-twitter
    width 160px

.header-content-center
  width 289px
  border-right 1px Black solid
  overflow auto
.header-content-right
  width 30px
  background transparent

.header-logo
  cursor pointer
  width 30px
  height 30px
  margin 1em 0 0 1em

.header-button
  display block
  width 235px
  overflow hidden
  margin 3px auto
  padding 0.5em 10px
  position relative
  text-align left

.header-action-remove
  position absolute
  top 7px
  right 0
  display inline-block
  margin 0 10px 5px 0
  font-weight 300
  font-size 40px
  text-align center
  line-height 0.42
  cursor pointer
  color White
  width 24px
  height 24px
  border-radius 50%
  vertical-align bottom
  background rgba(0,0,0,0.3)

.header-action-add
.header-action-readlater
  display inline-block
  margin 5px 15px
  font-weight 400
  font-size 32px
  text-align center
  line-height 1
  cursor pointer
  width 34px
  height 34px
  padding 4px
  background Black
  color White
  border-radius 50%

