.header
  @extend .composite-layer
  z-index 2000
  position fixed
  top 0
  left 0
  width 100%
  height 40px
  background BgDark
  border-bottom 1px solid Gray
  text-align center

.header-spacer
  height 40px

.header-title
  cursor pointer
  position absolute
  top 7px
  left 40px
  font-size 16px
  font-weight 100
  text-transform uppercase
  @media phone
    display none

.header-logo
  cursor pointer
  img
    width 16px
    margin-top 12px
  strong
    font-size 20px
    margin-left 3px
  @media phone
    position absolute
    top 0
    left 40px

.header-sidebar-toggle
  position absolute
  top 0
  left 0
  cursor pointer
  font-size 11px
  z-index 10
  width 20px
  padding 10px
  margin 8px 0
  span,
  span:before,
  span:after
    background-color Black
    width 100%
    height .2em
    transition all 0.4s
  span
    position relative
    display block
  span:before,
  span:after
    position absolute
    left 0
    top -.55em
    content ' '
  span:after
    top .55em

  &.open
    span
      background-color transparent
    span:before
      transform rotate(45deg) translate(.5em, .4em)
    span:after
      transform rotate(-45deg) translate(.4em, -.3em)
