.header
  display block
  position absolute
  left -290px
  top 0
  width 320px
  height 100%
  transition left 0.5s
  &:hover
    left 0

.header-content-left
  float left
  width 20px
  height 100%
.header-content-center
  float left
  width 270px
  height 100%
.header-content-right
  float left
  width 30px
  height 100%