.home-heading
  text-align center
  margin-top 2em
  font-size 2.1em
  @media phone
    font-size 1.5em
    line-height 1.5
    margin-top 1em

.home-form.form
  position relative
  text-align center
  width 100%
  margin 0 auto
  max-width 400px
  input.home-input
    display inline-block
    font-size 18px
    border-radius 4px
    border 1px Gray solid
    width 342px
    @media phone
      width 260px

.home-search-icon
  position absolute
  top 7px
  right 30px
  width 30px
  height 24px
  @media phone
    top 8px
    right 40px
  @media iphone
    right 20px