.logo-big
  text-align center

.logo-link
  display inline-block
  margin-top 60px
  text-align center
  line-height 0
  img
    width 42px
  strong
    font-size 54px
    margin-left 10px
  @media typeheight
    margin-top 0
    display none

.logo-color
  fill DarkGray
