.logo-big
  text-align center

.logo-link
  display inline-block
  text-align center
  line-height 0
  img
    width 42px
  strong
    font-size 54px
    margin-left 10px

.logo-color
  fill DarkGray
