.logo-big
  text-align center
  @media typeheight
    padding-top 60px

.logo-link
  display inline-block
  margin-top 70px
  text-align center
  h1
    width 0
    height: 0
    overflow hidden
    margin 0 auto
  h2
    font-size 17px
    font-weight 300
    margin-bottom 1.5em
    line-height 0
  @media typeheight
    display none

.logo-svg
  width 260px
  height 55px
  display inline-block
  @media phone
    width 130px
    height 80px

.logo-color
  fill DarkGray
