.pages-container
  margin: 0 auto
  padding: 0 10px
  text-align left
  position relative
  max-width 960px

.appstore-logo
  height 40px

.home-heading
  text-align center
  margin-top 2em
  font-size 3em

.home-form.form
  text-align center
  width 100%
  margin 0 auto
  max-width 400px
  input.home-input
    display inline-block
    font-size 24px
    border 0
    border-radius 0
    border-bottom 2px solid Black
    width 90%
    &:focus
      outline none
