.pages-container
  margin: 0 auto
  text-align center
  position relative
  p
    margin-top 65px

.appstore-logo
  height 40px

.home-heading-logo
  width 260px
  padding 55px 0 0 0
  margin 50px auto 10px auto
  height: 0
  background: url('/img/logo.png') no-repeat
  overflow hidden

.home-heading-subtitle
  font-size 17px
  font-weight 300
  margin-bottom 1.5em
