.pages-container
  margin: 0 auto
  text-align center
  position relative
  
  .signup-btn
    background Black
    color White
    padding 15px 66px
    margin 15px
    font-size 18px
    border-radius 4px
    display inline-block
  p
    margin-top 65px

.appstore-logo
  height 40px

.home-heading-logo
  width 260px
  padding 55px 0 0 0
  margin 50px auto 10px auto
  height: 0
  background: url('/img/logo.png') no-repeat
  overflow hidden

.home-heading-subtitle
  font-weight 300
  margin-bottom 1.5em

.pages-footer
.header-footer
  position absolute
  bottom 0
  left 0
  width 100%
  text-align center
  font-size 11px
  font-weight bold
  color Gray
  margin-bottom 15px