.tweet4me
  display inline-block
  text-align left
  margin 1em
  h2
    font-size 18px
    @media phone
      margin 0
      font-size 14px

.tweet4me-heading
  margin 3em 0
  font-size 28px
  line-height 1.5

.tweet4me-heart
  margin 0
  position relative
  top -3px

.tweet4me-price
  display inline-block
  text-align center
  margin 1em
  padding 1em
  background White
  border-radius 4px
  box-shadow -3px 3px 11px 0px rgba(50, 50, 50, 0.2)
  p
    padding 5px 0
  h3
    text-size 20px
    text-transform uppercase
    font-weight bold
    margin-bottom 20px
  .button-green
    margin-top 30px