.tweet4me
  display inline-block
  text-align left
  margin 1em
  h2
    font-size 18px
    @media phone
      margin 0
      font-size 14px

.tweet4me-headig
  margin-top 2em
  margin-bottom 2em
  font-size 24px
  line-height 1.2