.tweet4me-paradise
  text-align center
  background url(/img/paradise.jpg) no-repeat center center
  background-size cover
  overflow hidden
  background White
  border-bottom 1px solid Gray
  padding 2em 5px 5em 5px
  @media phone
    padding 1em 5px 3em 5px

.tweet4me-steps
  display inline-block
  text-align center
  h2
    font-size 18px
    max-width 180px
    display inline-block
    margin 0 20px
  @media phone
    text-align left
    margin 0 auto
    display block
    width 235px
    h2
      max-width 235px
      font-size 14px
      margin 0
    br
      display none

.tweet4me-heading
  margin 2.2em 0
  font-size 23px
  line-height 1.5
  @media phone
    font-size 18px

.tweet4me-form
  text-align center
  margin-top 2em
  width 93%
  margin 0 auto
  max-width 400px

.tweet4me-trail-btn
  font-size 26px
  padding 10px 0
  width 100%
  @media phone
    font-size 18px

.tweet4me-heart
  margin 0
  position relative
  top -3px

.tweet4me-price
  display inline-block
  text-align center
  margin 1em
  padding 1em
  background White
  border-radius 4px
  box-shadow -3px 3px 11px 0px rgba(50, 50, 50, 0.2)
  p
    padding 5px 0
  h3
    text-size 20px
    text-transform uppercase
    font-weight bold
    margin-bottom 20px
  .button-green
    margin-top 30px