.buffer-top-section
  include ../common/buzzr-logo
  h1.tweet4me-heading
    strong.medium Take your Twitter audience to the next level!
    br
    | With premium content from Buzzr.
  p.medium
    a.button-green.buffer-btn(href="/tweet4me/pricing")
      | Try 3 Days Free! &nbsp;
      span.action-readlater.tweet4me-heart
        img(src="/img/heart.svg")
  
  p.buffer-top-section-bottom &#8595;

.center
  .margin-top-big
  h1.phone-line-height.phone-heading Twitter content marketing made easy &amp; effective:
  
  .margin-top-big
  .tweet4me-price
    h1 1 
    h3.margin-top Simply tell us what your business is about.
  .tweet4me-price
    h1 2 
    h3.margin-top We find you the best and newest content.
  .tweet4me-price
    h1 3
    h3.margin-top Grow a happy audience for your business :)

.margin-top-big
form.form.tweet4me-form(name="signupForm"  ng-hide="success")
  p.medium.padding-top
    a.button-green.buffer-btn(href="/tweet4me/pricing")
      | Try 3 Days Free! &nbsp;
      span.action-readlater.tweet4me-heart
        img(src="/img/heart.svg")
  
  .inline-block.margin-top-big
    .clear-both.padding-top.left
      .tweet4me-check &#10004;
      .tweet4me-check-text
        | First 3 days for 
        strong free - no credit card needed!
  
    .clear-both.padding-top.left
      .tweet4me-check &#10004; 
      .tweet4me-check-text
        | Get Buzzr Tweet4me 
        | starting at 
        strong only $10/month. 
  
    .clear-both.padding-top.left
      .tweet4me-check &#10004;
      .tweet4me-check-text
        strong Quit any time - "no questions asked" policy!
  
  .center.margin-top-sm
    a.underline(href="/tweet4me/pricing") View pricing

.header-spacer
include ../common/footer
