include join

//- Google Code for startup signup Conversion Page
script(type="text/javascript").
  /* <![CDATA[ */
  var google_conversion_id = 968920907;
  var google_conversion_language = "en";
  var google_conversion_format = "2";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "V8oYCJXpuAkQy56CzgM";
  var google_remarketing_only = false;
  /* ]]> */

script(type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js")

noscript
  div(style="display:inline;")
    img(height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/968920907/?label=V8oYCJXpuAkQy56CzgM&amp;guid=ON&amp;script=0")
