.center(itemprop="mainContentOfPage")
  include ../common/buzzr-logo

  h1.margin-top.center.bold Pricing
  h3.big.center Take your Twitter audience to the next level with premium content.
  .center.margin-top
    .tweet4me-price
      h3 Startup
      p.bold $10 / MONTH
      p 3 tweets per business day
      p -
      p -
      p Premium Services
      p -
      a.button-green(href="/tweet4me/join?plan=startup") Start FREE Trial

    .tweet4me-price
      h3 Business
      p.bold $49 / MONTH
      p 5 tweets per business day
      p 2 tweets on weekends
      p -
      p Premium Services
      p -
      a.button-green(href="/tweet4me/join?plan=business") Start FREE Trial

    .tweet4me-price
      h3 Enterprise Plus
      p.bold $99 / MONTH
      p 10 tweets 24/7
      p weekends &amp; holidays
      p Real-time Content
      p Premium Services
      p Phone Support
      a.button-green(href="/tweet4me/join?plan=enterprise") Start FREE Trial

  p.center.margin-top-big
    span.underline.clickable(ng-click="toggleFeedback()") Questions? Get in touch.

.header-spacer.margin-top
include ../common/footer
