header.header(ng-controller="appHeaderCtrl")
  .header-sidebar-toggle(ng-click="toggleSidebar(); $event.stopPropagation();" ng-class="{'open': open}")
    span
  .header-title
    {{title}}
  .header-filters
