header.header.move(ng-controller="appHeaderCtrl")
  .header-sidebar-toggle(ng-click="toggleSidebar(); $event.stopPropagation();" ng-class="{'open': open}")
    span
  .header-logo
  .header-filters

.header-spacer
