header.header.ng-hide(ng-controller="appHeaderCtrl" ng-show="isLoggedIn()")
  a.header-logo.phone-hide.ng-hide(href="/search" ng-show="showLogo()")
    img(src="/img/logo.png")
    strong buzzr
  .header-sidebar-toggle.ng-hide(ng-click="toggleSidebar(); $event.stopPropagation();" ng-class="{'open': open}" ng-show="isLoggedIn()")
    span
