.feedback(ng-controller="appFeedbackCtrl")
  .feedback-button(ng-click="toggle()") ?

  .feedback-popop(ng-class="{'show': show}")
    .feedback-form
      .feedback-close(ng-click="toggle()") &times;
      
      h1 Contact us!
      form.form(name="feedbackForm", ng-hide="success")
        .form-group
          label Your Email Address*
          input(type="email", ng-model="feedback.email", required)
        
        .form-group
          label Your Name*
          input(type="text", ng-model="feedback.name", required)
        
        .form-group
          label Your message*
          textarea(ng-model="feedback.message", required)
        
        .form-group
          button.button-black(ng-click="send()", ng-disabled="feedbackForm.$invalid") Send
          br
          span.required * required
        
        .form-group.notifier
          .error {{notifier.error}}
          .notice {{notifier.notice}}
      
      h2.margin-top(ng-show="success")
        strong Thank you!
        br
        | We aim to reply to all our mail within 24hrs.
        br
        br
        | Talk soon,
        br
        | Buzzr Team
