.center.margin-top-big(ng-show="checkStatus('feeding')")
  //-
    .filters
      input.filter-input(ng-model="filterByText", placeholder="filter")
  
  .feed-container
    .feed-item(ng-repeat="link in links | filter:filterByText | orderBy:'rank':'true'")
      .feed-item-body(ng-hide="link.removed")
        div
          a.feed-link(href="{{link.url}}", target="_blank", ng-click="trackView(link.url)") {{link.title.trunc(150)}}
        
        .feed-item-info
          .feed-item-domain {{link.domain}}
          .feed-item-actions
            .action-readlater(ng-click="saveLink(link)", ng-class="{'saved': link.saved}")
              img(src="/img/heart.svg")
            a.action-share(ng-click="trackShare(link.url)", href="https://twitter.com/intent/tweet?url={{link.url}}&text={{encode(link.title)}}&via=BuzzrApp")
              img(src="/img/share.svg")
            //-.action-remove(ng-click="removeLink(link)") &times;
  
  p.margin
    span.italic Last updated: {{ lastUpdated }} 
    span.button-green.margin.bold(ng-show="showUpdate()" ng-click="updateNow()") Update now
