.center.margin-top-big(ng-show="status.feeding")
  .filters
    input.filter-input(ng-model="filterByText", placeholder="filter")

  .feed-container(ng-repeat="date in dates")
    .feed-item(ng-repeat="link in links | filter:filterByText | filter: {activated: date} | orderBy:'rank':'true'")
      .feed-item-body(ng-hide="link.removed")
        div(ng-show="identity.isAuthenticated()")
          a.feed-link(href="{{link.url}}", target="_blank", ng-click="trackView(link.url)") {{link.title}}
        
        div(ng-hide="identity.isAuthenticated()")
          a.feed-link(ng-click="toggleSidebar(); $event.stopPropagation();") {{link.title}}

        .feed-item-info
          .feed-item-actions
            .action-readlater(ng-click="saveLink(link)", ng-class="{'saved': link.saved}")
              img(src="/img/heart.svg")
            a.action-share(ng-click="trackShare(link.url)", href="https://twitter.com/intent/tweet?url={{link.url}}&text={{encode(link.title)}}")
              img(src="/img/share.svg")
            .action-remove(ng-click="removeLink(link)") &times;
.header-spacer
