.center(ng-show="status.feeding")

  .feed-topic(ng-click="toggleHeader(); $event.stopPropagation();") {{searchText}}
  
  .feed-container(ng-repeat="date in dates")
    .feed-date
      span.underline {{date}}
    
    .feed-item(ng-repeat="link in links | filter: {activated: date} | orderBy:'rank':'true'")
      .feed-item-body(ng-hide="link.removed")
        div(ng-show="identity.isAuthenticated()")
          a.feed-link(href="{{link.url}}", target="_blank", ng-click="trackView(link.url)") {{link.title}}
        
        div(ng-hide="identity.isAuthenticated()")
          a.feed-link(ng-click="toggleHeader(); $event.stopPropagation();") {{link.title}}

        .feed-item-info
          .feed-item-actions
            .action-readlater(ng-click="saveLink(link)", ng-class="{'saved': link.saved}")
              span &hearts;
            a.action-share(ng-click="trackShare(link.url)", href="https://twitter.com/intent/tweet?url={{link.url}}&text={{encode(link.title)}}")
              img(src="/img/share-white.svg")
            .action-remove(ng-click="removeLink(link)") &times;
          .feed-item-date {{link.activated}}
