.center(ng-show="status.feeding")

  .feed-topic {{searchText}}
  
  .feed-container(ng-repeat="date in dates")
    .feed-date {{date}}
    .feed-item(ng-repeat="link in links | filter: {activated: date} | orderBy:'rank':'true'")
      div(ng-show="identity.isAuthenticated()")
        a.feed-link(href="{{link.url}}", target="_blank") {{link.title}}
      
      div(ng-hide="identity.isAuthenticated()")
        a.feed-link(ng-click="toggleHeader(); $event.stopPropagation();") {{link.title}}

      .feed-item-info
        .feed-item-actions
          .action-readlater(ng-click="saveLink(link.url)") &starf;
          a.action-share(href="https://twitter.com/intent/tweet?url={{link.url}}&text={{encode(link.title)}}")
            img(src="/img/share-white.svg")
          .action-remove(ng-click="removeLink(link.url)") &times;
        .feed-item-date {{link.activated}}
