.center(ng-show="status.feeding")
  include ../common/buzzr-logo
  
  .feed-topic {{searchText}}
  
  .feed-container(masonry='{"itemSelector" : ".feed-item"}')
    
    .feed-item(masonry-tile ng-repeat="link in links")
      a.feed-link(href="{{link.url}}", target="_blank") {{link.title}}
      .feed-item-info
        .feed-item-actions
          .action-readlater &starf;
          .action-share
            img(src="/img/share-white.svg")
          .action-remove &times;
        .feed-item-date {{link.activated}}


//-
  table(ng-repeat="date in dates")
    thead
      tr
        th {{date}}
      tr
        th Link
        th Rank
    tbody
      tr(ng-repeat="link in links | filter: {activated: date} | orderBy:'rank':'true'")
        
        td(ng-show="identity.isAuthenticated()") 
          a(href="{{link.url}}", target="_blank") {{link.title}}
        
        td(ng-hide="identity.isAuthenticated()")
          a(ng-click="toggleHeader(); $event.stopPropagation();") {{link.title}}
        
        td {{link.rank}}
