.header-search-box
  form.header-form.form(ng-submit="newSearch(newSearchTerm)")
    input.header-search(ng-model="newSearchTerm" placeholder="{{searchText}}")
    button(type="submit").header-search-icon
      include ../../public/img/search.svg
    a.header-readlater(href="/account/readlater")
      span.phone-hide saved 
      .action-readlater.saved
        img(src="/img/heart.svg")

.header-spacer

//- searching
.center(ng-show="checkStatus('searching')")
  h2.margin-top-big
    | buzzing the interweb for 
    strong {{searchText}} 
    | ...

//- unknown error
.center(ng-show="checkStatus('error')")
  h2.margin-top-big
    br
    | {{errorMessage}}
    br
    br
    a.underline(ng-click="toggleFeedback()") Contact us for help.

//- creating a new feed
.center(ng-show="checkStatus('creating')")
  h2.margin-top
    | Your topic 
    strong {{searchText}} 
    | is a new one for Buzzr!
  p.margin-top
    | Your new Buzzr will be ready in 
    strong {{countDown}}

//- updating a feed
.center(ng-show="checkStatus('updating')")
  h2.margin-top
    | Buzzr is updating 
    strong {{searchText}}
  p.margin-top
    | Your new feed will be ready in 
    strong {{countDown}}

//- loading
.center(ng-show="showLoading()")
  h2.margin-top.center
    .loading
      include ../../public/img/logo-anim.svg

//- alternative Buzzrs to watch
.center(ng-show="checkStatus('creating')")
  include ../common/otherBuzzrs

//- display results
include feed
