h2(ng-show="searching") ... buzzing the interweb for &quot;{{searchText}}&quot; ...

div(ng-hide="searching") 
  h1.margin Results
  
  table
    thead
      tr
        th Link
        th Rank


  table(ng-repeat="date in dates")
    tbody
      
      tr(ng-repeat="link in links | filter: {activated: date} | orderBy:'rank':'true'")
        
        td(ng-show="identity.isAuthenticated()") 
          a(href="{{link.url}}", target="_blank") {{link.title}}
        
        td(ng-hide="identity.isAuthenticated()")
          a(ng-click="toggleHeader(); $event.stopPropagation();") {{link.title}}
        
        td {{link.rank}}
