//- searching
.center(ng-show="status.searching")
  h2.margin-top-big.center
    | buzzing the interweb for 
    strong {{searchText}} 
    | ...


//- unknown error
.center.display-none(ng-class="{'display-none': status.error == false}")
  h2.margin-top-big.center
    strong Unexpected error: 
    | {{errorMessage}}
    br
    a.underline(ng-click="toggleFeedback()") Please contact us for help.


//- creating a new feed
.center.display-none(ng-class="{'display-none': status.creating == false}")
  h2.margin-top
    | Your topic 
    strong {{searchText}} 
    | is a new one for Buzzr!
  p.margin-top(ng-hide="identity.isAuthenticated()")
    | Creating new topics is only possible for logged-in users at this moment.
    br
    | Please join us to create your new feed (takes only 30 seconds):
    br
    br
    a.button-black(href="/join") Join to create a new Buzzr
  p.margin-top(ng-show="identity.isAuthenticated()")
    | Creating completely new topics takes a while for Buzzr.
    br
    | We will email you when your brand new Buzzr is ready (~ 15min).


//- loading
.center(ng-show="showLoading()")
  h2.margin-top.center
    .loading
      include ../../public/img/logo-anim.svg


//- alternative Buzzrs to watch
.center.display-none(ng-class="{'display-none': status.creating == false}")
  p.margin-top-big
    br
    br
    span.italic Check out these Buzzrs in the meantime:
  p.margin-top-big
    a.button-black(href="/damien%20hirst") Damien Hirst
    | &nbsp;&nbsp;
    a.button-white(href="/snowboarding") Snowboarding
  p.margin-top-sm
    a.button-white(href="/javascript") Javascript
    | &nbsp;&nbsp;
    a.button-black(href="/london%20property") London Property
  p.margin-top-sm
    a.button-black(href="/judith%20butler") Judith Butler
    | &nbsp;&nbsp;
    a.button-white(href="/teen%20wolf") Teen Wolf


//- display results
include feed
