//- searching
.center(ng-show="status.searching")
  h2.margin-top-big
    | buzzing the interweb for 
    strong {{searchText}} 
    | ...


//- unknown error
.center(ng-show="status.error")
  h2.margin-top-big
    strong Unexpected error: 
    | {{errorMessage}}
    br
    a.underline(ng-click="toggleFeedback()") Please contact us for help.


//- creating a new feed
.center(ng-show="status.creating")
  h2.margin-top
    | Your topic 
    strong {{searchText}} 
    | is a new one for Buzzr!
  p.margin-top
    | Creating completely new topics takes a while for Buzzr (~ 5min)...


//- loading
.center(ng-show="showLoading()")
  h2.margin-top.center
    .loading
      include ../../public/img/logo-anim.svg


//- alternative Buzzrs to watch
.center(ng-show="status.creating")
  p.margin-top-big
    br
    br
    span.italic Check out these Buzzrs in the meantime:
  p.margin-top-big
    a.button-black.button-width(href="/damien%20hirst") Damien Hirst
    | &nbsp;&nbsp;
    a.button-white.button-width(href="/snowboarding") Snowboarding
  p.margin-top-sm
    a.button-white.button-width(href="/javascript") Javascript
    | &nbsp;&nbsp;
    a.button-black.button-width(href="/london%20property") London Property
  p.margin-top-sm
    a.button-black.button-width(href="/judith%20butler") Judith Butler
    | &nbsp;&nbsp;
    a.button-white.button-width(href="/teen%20wolf") Teen Wolf


//- display results
include feed
