h1 Buzzr Search
form(ng-hide="searching")
  input(ng-model="searchText", placeholder="Search for a topic")
  button(ng-click="triggerSearch()") Generate Buzzr

h4 Results
table
  thead
    tr
      th Link
      th Popularity
  tbody
    tr(ng-repeat="link in links | orderBy:'popularity':'true'")
      td
        a(href="{{link.url}}", target="_blank") {{link.url}} 
      td {{link.popularity}}
