//- empty list
.center(ng-show="status.empty")
  h2.margin-top-big
    | Sorry, you have no saved links.
  p.margin-top-big
    | If this is an error 
    a.underline(ng-click="toggleFeedback()") please contact us for help.
