//- empty list
.center(ng-show="status.empty")
  h2.margin-top-big
    | Sorry, you have no saved links.
  p.margin-top-big
    | Simply hit the 
    span.big &#9733; 
    | next to each link to add it to this list.
  p
    | If this is an error 
    a.underline(ng-click="toggleFeedback()") please contact us for help.
