
Red = #DB4744
White = WhiteSmoke
Black = #3d3d3d
Gray = #5E5A5A

MainBackground = #e7f4e9

.bg-black
  background Black
.bg-white
  background White
.bg-main
  background MainBackground

.white
  color White
.black
  color Black