html
body
  font-family 'Open Sans', Helvetica, Arial, sans-serif
  font-weight 400
  font-size 14px
  width 100%
  height 100%
  line-height 1.5
  overflow hidden

.app-view
  width 100%
  height 100%
  overflow auto

a
  text-decoration none
  color inherit

h1, h2, h3
  font-weight 300
  line-height 2
  margin-top 1em
h1
  font-size 2.5em
h2
  font-size 2em

.clickable
  cursor pointer

.table
  display table
.table-cell-vertical-middle
  display table-cell
  vertical-align middle

.bold
  font-weight bold
.italic
  font-style italic
.sans-serif
  font-family Helvetica, sans-serif
.serif
  font-family Garamond, serif
.underline
  border-bottom 2px solid Black
.small
  font-size 0.8em

.center
  text-align center
.left
  text-align left
.right
  text-align right
.justify
  text-align justify

.inline-block
  display inline-block

.margin
  margin 1em
.margin-top
  margin-top 1em
.margin-right
  margin-right 1em