html
body
  font-family Helvetica, sans-serif

a
  text-decoration none
  color inherit

.table
  display table
.table-cell-vertical-middle
  display table-cell
  vertical-align middle

.bold
  font-weight bold
.italic
  font-style italic
.sans-serif
  font-family Helvetica, sans-serif
.serif
  font-family Garamond, serif
.underline
  border-bottom 2px solid Black

.inline-block
  display inline-block